lxml==4.3.0
numpy
pyassimp==4.1.3
scipy
pyopengl==3.1.0
opencv-python
transforms3d
torch==1.9.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
torchvision 
pillow
IPython
matplotlib
easydict
pyyaml==3.12
cmake
future
