*.mex*
*.pyc
*.tgz
*.so
*.o
*.obj
*.mtl
test_image
grasp/scripts/panda_arm_models
grasp/scripts/output
grasp/scripts/models
grasp/scripts/test_image
grasp/scripts/ycb_render
grasp/scripts/YCB_Video
grasp/scripts/mesh
#grasp/mesh